#R{
    background-color: #000000;
    border: 2px solid #8a4f80;
   display: flex;
    text-rendering: geometricPrecision;
    cursor: pointer;
    height: 5vmin;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width:15vmin;
    height:15vmin;
}
#head{
    font-size:7.5vmin;
    font-style: oblique,bold,thick,double;
    border-color: red;
    color: #3A4F41;
    text-shadow: 0 0 1rem rgb(162, 126, 126);
    font:bold;
}   
.head-container{
    
    gap:05vmin;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    }
body{
    background-color: #B9314F;
}
    *{
    margin:0;
    padding:0;
}
.head-div{
    display: flex;
    justify-content:flex-start;
    animation: backwards 2s infinite;

}
.options{
    display: flex;
    gap: 5vmin;
    flex-direction:column-reverse;
    justify-content: center;
    align-items: center;
    
}
.reset{
    margin-top: 15vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.rock_img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba(0,0,0.5);
    display: flex;
}
.paper_img{
    width: 60%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba(0,0,0.5);
}
.scissor_img{
    width: 50%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba(0,0,0.5);
}
.above-two-btn{
    width: 100%;
    height: 100%;
    display:flex;
    gap: 5vmin;
    justify-content: center;
    align-items: center;

}
.resetBtn{
    padding: 1vmin 3vmin;
    font-size: 3vmin;
    border-radius: 1rem;
    background-color: #000000;
   color: white;
   border: #000000;
   box-shadow: 0 0 01rem ;
}