*{
    
    margin : 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.header{
    height: 15vmin;
    display:flex;
    justify-content: center;
    align-items: center; 
    font-size: 5vmin;
    color:#d0f736;
    font-weight: bold;
}
.box{
    font-size:8vmin;
    height : 18vmin;
    width : 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0.5);
    color:#5e63c3;
    background-color: #ffffc7;
}
.container{
    height: 70%;   
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.game{
    gap: 1.5vmin;
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    
    
}
.reset{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 15vmin;
}

.resetBtn{
    /* height: 6vmin;
    width: 20vmin; */
    padding: 1vmin 3vmin;
    font-size: 3vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0.5);
    background-color: #af4d49;
    color:#e2caca;
}
.winnerMsg{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 9vmin;
}